# Projeto de Analise de dados Referente a acidentes de carro

### A base de dados utilizada tem como principais informa√ß√µes o pais, ano, mes, periodo do dia, visibilidade e numero de veiculos envolvidos

Principais analises realizadas:
    Quantidade de acidentes por pa√≠s
     Propor√ß√£o de acidentes de acordo com o periodo do dia
     Propor√ß√£o de acidentes de acordo com a estrada
     Acidentes de acordo com a visibilidade da via
     Qtd de acidentes por ano
     Condi√ß√µes climaticas
     Custo m√©dico e economico
     Tempo de resposta por pa√≠s

In [22]:
import pandas as pd

tabela = pd.read_csv(r"C:\Users\victo\Downloads\road_accident_dataset.csv")

display(tabela)

,Country,Year,Month,Day of Week,Time of Day,Urban/Rural,Road Type,Weather Conditions,Visibility Level,Number of Vehicles Involved,...,Number of Fatalities,Emergency Response Time,Traffic Volume,Road Condition,Accident Cause,Insurance Claims,Medical Cost,Economic Loss,Region,Population Density
0,USA,2002,October,Tuesday,Evening,Rural,Street,Windy,220.414651,1,...,2,58.625720,7412.752760,Wet,Weather,4,40499.856982,22072.878502,Europe,3866.273014
1,UK,2014,December,Saturday,Evening,Urban,Street,Windy,168.311358,3,...,1,58.041380,4458.628820,Snow-covered,Mechanical Failure,3,6486.600073,9534.399441,North America,2333.916224
2,USA,2012,July,Sunday,Afternoon,Urban,Highway,Snowy,341.286506,4,...,4,42.374452,9856.915064,Wet,Speeding,4,29164.412982,58009.145124,South America,4408.889129
3,UK,2017,May,Saturday,Evening,Urban,Main Road,Clear,489.384536,2,...,3,48.554014,4958.646267,Icy,Distracted Driving,3,25797.212566,20907.151302,Australia,2810.822423
4,Canada,2002,July,Tuesday,Afternoon,Rural,Highway,Rainy,348.344850,1,...,4,18.318250,3843.191463,Icy,Distracted Driving,8,15605.293921,13584.060759,South America,3883.645634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131995,Germany,2023,June,Wednesday,Evening,Rural,Main Road,Foggy,351.740871,4,...,0,37.405598,1907.208566,Icy,Speeding,3,18640.125887,50695.311876,Asia,173.307333
131996,Brazil,2023,January,Tuesday,Morning,Rural,Main Road,Foggy,95.563567,1,...,4,17.054490,2706.253339,Dry,Drunk Driving,2,48161.129965,20260.167191,Asia,4375.443810
131997,Russia,2021,March,Wednesday,Afternoon,Urban,Street,Clear,74.112102,3,...,3,55.558876,6860.161645,Dry,Speeding,9,24696.058692,8132.133502,Asia,4196.244517
131998,Australia,2002,May,Tuesday,Morning,Urban,Street,Rainy,276.612565,3,...,2,19.100498,1523.299088,Wet,Speeding,8,13486.716680,17607.573072,Europe,2911.904030
131999,USA,2022,November,Tuesday,Morning,Urban,Street,Windy,253.531380,3,...,4,28.037108,7662.853082,Snow-covered,Speeding,6,3240.358544,27765.168982,Asia,2949.568694

Tratamento de dados

In [18]:
tabela = tabela.dropna()
tabela = tabela.rename(columns={
	'Visibility Level' : 'Visibility',
	'Weather Conditions': 'Weather',
	'Number of Vehicles Involved': 'Number_Vehicles_Involved',
	'Economic Loss':'Economic_Loss',
    'Medical Cost': 'Medical_Cost',
    'Number of Injuries': 'Number_Injuries',
    'Number of Fatalities': 'Number_Fatalities'
})
 
tabela['Number_People_Injured'] = tabela['Number_Injuries'] + tabela['Number_Fatalities']

 


display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132000 entries, 0 to 131999
Data columns (total 31 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Country                   132000 non-null  object
 1   Year                      132000 non-null  int64
 2   Month                     132000 non-null  object
 3   Day of Week               132000 non-null  object
 4   Time of Day               132000 non-null  object
 5   Urban/Rural               132000 non-null  object
 6   Road Type                 132000 non-null  object
 7   Weather                   132000 non-null  object
 8   Visibility                132000 non-null  float64
 9   Number_Vehicles_Involved  132000 non-null  int64
 10  Speed Limit               132000 non-null  int64
 11  Driver Age Group          132000 non-null  object
 12  Driver Gender             132000 non-null  object
 13  Driver Alcohol Level      132000 non-null  float64
 14  Driver Fatigue            132000 non-null  int64
 15  Vehicle Condition         132000 non-null  object
 16  Pedestrians Involved      132000 non-null  int64
 17  Cyclists Involved         132000 non-null  int64
 18  Accident Severity         132000 non-null  object
 19  Number_Injuries           132000 non-null  int64
 20  Number_Fatalities         132000 non-null  int64
 21  Emergency Response Time   132000 non-null  float64
 22  Traffic Volume            132000 non-null  float64
 23  Road Condition            132000 non-null  object
 24  Accident Cause            132000 non-null  object
 25  Insurance Claims          132000 non-null  int64
 26  Medical_Cost              132000 non-null  float64
 27  Economic_Loss             132000 non-null  float64
 28  Region                    132000 non-null  object
 29  Population Density        132000 non-null  float64
 30  Number_People_Injured     132000 non-null  int64
dtypes: float64(7), int64(10), object(14)
memory usage: 31.2+ MB

None

In [20]:
acidentes_por_pais = tabela.groupby('Country')['Country'].count().reset_index(name='Total_Acidentes')
quantidade_de_acidentes_por_ano = tabela.groupby('Year').size().reset_index(name='Quantidade_de_acidentes_por_ano')
acidentes_rodovias = tabela.groupby(['Country', 'Weather']).size().reset_index(name='acidentes_rodovias')
total_gasto = tabela.groupby(['Country', 'Number_Vehicles_Involved', 'Number_People_Injured'])[['Economic_Loss', 'Medical_Cost']].sum().reset_index()

In [21]:
total_acidentes = {
    'Acidentes_Por_Pais': acidentes_por_pais,
    'Quantidade_de_acidentes_por_ano': quantidade_de_acidentes_por_ano,
    'Acidentes_rodovias': acidentes_rodovias,
    'Total_gasto' : total_gasto
}

for coluna, valor in total_acidentes.items():
    print(f'\n{coluna}')
    display(valor)

Acidentes_Por_Pais

     Country  Total_Acidentes
0  Australia            13345
1     Brazil            13318
2     Canada            13349
3      China            13121
4    Germany            13293
5      India            13238
6      Japan            13049
7     Russia            12976
8         UK            13186
9        USA            13125

Quantidade_de_acidentes_por_ano

    Year  Quantidade_de_acidentes_por_ano
0   2000                             5280
1   2001                             5263
2   2002                             5433
3   2003                             5327
4   2004                             5180
5   2005                             5302
6   2006                             5156
7   2007                             5307
8   2008                             5409
9   2009                             5298
10  2010                             5144
11  2011                             5356
12  2012                             5327
13  2013                             5220
14  2014                             5351
15  2015                             5331
16  2016                             5377
17  2017                             5278
18  2018                             5295
19  2019                             5243
20  2020                             5308
21  2021                             5243
22  2022                             5175
23  2023                             5242
24  2024                             5155

Acidentes_rodovias

      Country Weather  acidentes_rodovias
0   Australia   Clear                2632
1   Australia   Foggy                2660
2   Australia   Rainy                2662
3   Australia   Snowy                2751
4   Australia   Windy                2640
5      Brazil   Clear                2647
6      Brazil   Foggy                2642
7      Brazil   Rainy                2645
8      Brazil   Snowy                2633
9      Brazil   Windy                2751
10     Canada   Clear                2676
11     Canada   Foggy                2681
12     Canada   Rainy                2694
13     Canada   Snowy                2641
14     Canada   Windy                2657
15      China   Clear                2551
16      China   Foggy                2638
17      China   Rainy                2621
18      China   Snowy                2596
19      China   Windy                2715
20    Germany   Clear                2707
21    Germany   Foggy                2568
22    Germany   Rainy                2660
23    Germany   Snowy                2634
24    Germany   Windy                2724
25      India   Clear                2622
26      India   Foggy                2667
27      India   Rainy                2684
28      India   Snowy                2630
29      India   Windy                2635
30      Japan   Clear                2675
31      Japan   Foggy                2615
32      Japan   Rainy                2548
33      Japan   Snowy                2573
34      Japan   Windy                2638
35     Russia   Clear                2560
36     Russia   Foggy                2541
37     Russia   Rainy                2603
38     Russia   Snowy                2649
39     Russia   Windy                2623
40         UK   Clear                2736
41         UK   Foggy                2506
42         UK   Rainy                2681
43         UK   Snowy                2598
44         UK   Windy                2665
45        USA   Clear                2620
46        USA   Foggy                2619
47        USA   Rainy                2764
48        USA   Snowy                2544
49        USA   Windy                2578

Total_gasto

,Country,Number_Vehicles_Involved,Number_People_Injured,Economic_Loss,Medical_Cost
0,Australia,1,0,2.458177e+06,1.166558e+06
1,Australia,1,1,3.178872e+06,1.660142e+06
2,Australia,1,2,4.271268e+06,2.308345e+06
3,Australia,1,3,6.405428e+06,3.492128e+06
4,Australia,1,4,7.982081e+06,4.110809e+06
...,...,...,...,...,...
955,USA,4,19,8.612082e+06,4.136484e+06
956,USA,4,20,6.649612e+06,3.178584e+06
957,USA,4,21,5.165391e+06,2.588147e+06
958,USA,4,22,4.220133e+06,2.086024e+06
959,USA,4,23,1.153258e+06,7.029596e+05

EXPORTA√á√ÉO DOS DADOS

In [24]:
#for nome, df in total_acidentes.items():
#    df.to_csv(f'{nome}.csv', index=False)  # Salva sem o √≠ndice num√©rico extra
# EXPORTA CADA ARQUIVO EM UM EXCEL

In [25]:
import pandas as pd  

with pd.ExcelWriter('acidentes_analise.xlsx') as writer:
    for nome, df in total_acidentes.items():
        df.to_excel(writer, sheet_name=nome, index=False)  # Cada DataFrame em uma aba

print("Arquivo 'acidentes_analise.xlsx' salvo com sucesso! üöÄ")

Arquivo 'acidentes_analise.xlsx' salvo com sucesso! üöÄ