# Projeto de Analise de dados Referente a acidentes de carro

### A base de dados utilizada tem como principais informações o pais, ano, mes, periodo do dia, visibilidade e numero de veiculos envolvidos

Principais analises realizadas:
    Quantidade de acidentes por país
     Proporção de acidentes de acordo com o periodo do dia
     Proporção de acidentes de acordo com a estrada
     Acidentes de acordo com a visibilidade da via
     Qtd de acidentes por ano
     Condições climaticas
     Custo médico e economico
     Tempo de resposta por país

In [5]:
import pandas as pd

tabela = pd.read_csv(r"C:\Users\victo\Downloads\road_accident_dataset.csv")

display(tabela)

,Country,Year,Month,Day of Week,Time of Day,Urban/Rural,Road Type,Weather Conditions,Visibility Level,Number of Vehicles Involved,...,Number of Fatalities,Emergency Response Time,Traffic Volume,Road Condition,Accident Cause,Insurance Claims,Medical Cost,Economic Loss,Region,Population Density
0,USA,2002,October,Tuesday,Evening,Rural,Street,Windy,220.414651,1,...,2,58.625720,7412.752760,Wet,Weather,4,40499.856982,22072.878502,Europe,3866.273014
1,UK,2014,December,Saturday,Evening,Urban,Street,Windy,168.311358,3,...,1,58.041380,4458.628820,Snow-covered,Mechanical Failure,3,6486.600073,9534.399441,North America,2333.916224
2,USA,2012,July,Sunday,Afternoon,Urban,Highway,Snowy,341.286506,4,...,4,42.374452,9856.915064,Wet,Speeding,4,29164.412982,58009.145124,South America,4408.889129
3,UK,2017,May,Saturday,Evening,Urban,Main Road,Clear,489.384536,2,...,3,48.554014,4958.646267,Icy,Distracted Driving,3,25797.212566,20907.151302,Australia,2810.822423
4,Canada,2002,July,Tuesday,Afternoon,Rural,Highway,Rainy,348.344850,1,...,4,18.318250,3843.191463,Icy,Distracted Driving,8,15605.293921,13584.060759,South America,3883.645634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131995,Germany,2023,June,Wednesday,Evening,Rural,Main Road,Foggy,351.740871,4,...,0,37.405598,1907.208566,Icy,Speeding,3,18640.125887,50695.311876,Asia,173.307333
131996,Brazil,2023,January,Tuesday,Morning,Rural,Main Road,Foggy,95.563567,1,...,4,17.054490,2706.253339,Dry,Drunk Driving,2,48161.129965,20260.167191,Asia,4375.443810
131997,Russia,2021,March,Wednesday,Afternoon,Urban,Street,Clear,74.112102,3,...,3,55.558876,6860.161645,Dry,Speeding,9,24696.058692,8132.133502,Asia,4196.244517
131998,Australia,2002,May,Tuesday,Morning,Urban,Street,Rainy,276.612565,3,...,2,19.100498,1523.299088,Wet,Speeding,8,13486.716680,17607.573072,Europe,2911.904030
131999,USA,2022,November,Tuesday,Morning,Urban,Street,Windy,253.531380,3,...,4,28.037108,7662.853082,Snow-covered,Speeding,6,3240.358544,27765.168982,Asia,2949.568694

Tratamento de dados

In [16]:
tabela = tabela.dropna()
tabela.columns = tabela.columns.str.replace('Visibility Level','Visibility')
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132000 entries, 0 to 131999
Data columns (total 30 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Country                      132000 non-null  object
 1   Year                         132000 non-null  int64
 2   Month                        132000 non-null  object
 3   Day of Week                  132000 non-null  object
 4   Time of Day                  132000 non-null  object
 5   Urban/Rural                  132000 non-null  object
 6   Road Type                    132000 non-null  object
 7   Weather Conditions           132000 non-null  object
 8   Visibility                   132000 non-null  float64
 9   Number of Vehicles Involved  132000 non-null  int64
 10  Speed Limit                  132000 non-null  int64
 11  Driver Age Group             132000 non-null  object
 12  Driver Gender                132000 non-null  object
 13  Driver Alcohol Level         132000 non-null  float64
 14  Driver Fatigue               132000 non-null  int64
 15  Vehicle Condition            132000 non-null  object
 16  Pedestrians Involved         132000 non-null  int64
 17  Cyclists Involved            132000 non-null  int64
 18  Accident Severity            132000 non-null  object
 19  Number of Injuries           132000 non-null  int64
 20  Number of Fatalities         132000 non-null  int64
 21  Emergency Response Time      132000 non-null  float64
 22  Traffic Volume               132000 non-null  float64
 23  Road Condition               132000 non-null  object
 24  Accident Cause               132000 non-null  object
 25  Insurance Claims             132000 non-null  int64
 26  Medical Cost                 132000 non-null  float64
 27  Economic Loss                132000 non-null  float64
 28  Region                       132000 non-null  object
 29  Population Density           132000 non-null  float64
dtypes: float64(7), int64(9), object(14)
memory usage: 30.2+ MB

None

In [17]:
acidentes_por_pais = tabela.groupby('Country')['Country'].count().reset_index(name='Total_Acidentes')
quantidade_de_acidentes_por_ano = tabela.groupby('Year').size().reset_index(name='Quantidade_de_acidentes_por_ano')
acidentes_por_visibilidade = tabela.groupby('Visibility')['Country'].count().reset_index(name='acidentes_por_visibilidade')

In [18]:
total_acidentes = {
    'Acidentes_Por_Pais': acidentes_por_pais,
    'Quantidade_de_acidentes_por_ano': quantidade_de_acidentes_por_ano,
    'Acidentes_por_visibilidade_e_pais': acidentes_por_visibilidade
}

for coluna, valor in total_acidentes.items():
    print(f'\n{coluna}')
    display(valor)

Acidentes_Por_Pais

     Country  Total_Acidentes
0  Australia            13345
1     Brazil            13318
2     Canada            13349
3      China            13121
4    Germany            13293
5      India            13238
6      Japan            13049
7     Russia            12976
8         UK            13186
9        USA            13125

Quantidade_de_acidentes_por_ano

    Year  Quantidade_de_acidentes_por_ano
0   2000                             5280
1   2001                             5263
2   2002                             5433
3   2003                             5327
4   2004                             5180
5   2005                             5302
6   2006                             5156
7   2007                             5307
8   2008                             5409
9   2009                             5298
10  2010                             5144
11  2011                             5356
12  2012                             5327
13  2013                             5220
14  2014                             5351
15  2015                             5331
16  2016                             5377
17  2017                             5278
18  2018                             5295
19  2019                             5243
20  2020                             5308
21  2021                             5243
22  2022                             5175
23  2023                             5242
24  2024                             5155

Acidentes_por_visibilidade_e_pais

        Visibility  acidentes_por_visibilidade
0        50.001928                           1
1        50.006060                           1
2        50.008102                           1
3        50.011407                           1
4        50.011508                           1
...            ...                         ...
131995  499.974265                           1
131996  499.977721                           1
131997  499.991665                           1
131998  499.993638                           1
131999  499.999646                           1

[132000 rows x 2 columns]